{% extends 'stark/layout.html' %}
{% load static %}

{% block css %}{% endblock %}

{% block content %}
    <div class="card border-0 mx-auto mt-3" style="box-shadow: 0 1px 2px 0 rgba(0,0,0,0.03); max-width: 100%;">

        <div class="card-header bg-white py-3 border-bottom-0 d-flex justify-content-between align-items-center px-4">
            <h6 class="mb-0 fw-bold" style="color: #333;">
                <i class="fa-solid fa-user-shield me-2" style="color: #8c8c8c;"></i>角色管理
            </h6>
            {% if add_btn %}
                {{ add_btn }}
            {% endif %}
        </div>

        <div class="card-body px-4 pb-4 pt-0">
            <table class="table align-middle mb-0">
                <thead>
                <tr style="color: #8c8c8c; font-size: 13px; border-bottom: 1px solid #f0f0f0;">
                    {% for header in header_list %}
                        <th class="py-3 border-0 fw-normal {% if header in align_right_columns %}text-end pe-4{% endif %}">{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for row in body_list %}
                        <tr>
                            {% for item in row %}
                                <td style="color: #595959; border-bottom: 1px solid #f9f9f9;">
                                    {{ item|safe }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <!-- 删除警告框-->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">
                        <i class="fa-solid fa-triangle-exclamation"></i> 危险操作
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    确定要删除 <span id="delete_name" class="fw-bold text-danger">文件/文件夹</span> 吗？
                    <div class="text-muted mt-2" style="font-size: 12px;">此操作不可逆，一旦删除无法找回！</div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-danger" id="del_btn">确认删除</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    <script>
        const deleteModal = document.getElementById('deleteModal')
        const del_btn = document.getElementById('del_btn')
        let delUrl = ''


        deleteModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget
            document.getElementById('delete_name').innerText = button.getAttribute('data-name')
            delUrl = button.getAttribute('data-url')
        })

        del_btn.addEventListener('click', async function () {
            const originalText = del_btn.innerText;
            del_btn.innerText = "检测中...";
            del_btn.disabled = true; // 禁用按钮，变灰！防止狂点！

            let res = await fetch(delUrl)
            let data = await res.json()

            if (data.status) {
                location.reload()
            } else {
                alert(data.error)
            }
            del_btn.innerText = originalText;
            del_btn.disabled = false;

        })

    </script>
{% endblock %}