<table class="table align-middle mb-0">
    <thead>
    <tr style="color: #8c8c8c; font-size: 13px; border-bottom: 1px solid #f0f0f0;">
        {% for header in header_list %}
            <th class="py-3 border-0 fw-normal {% if header in cl.align_right_columns %}text-end pe-4{% endif %}">{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in body_list %}
        <tr>
            {% for item in row %}
                <td style="color: #595959; border-bottom: 1px solid #f9f9f9;">
                    {{ item|safe }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>